.vscode
venv

images/paintings

method_BING/build/CMakeFiles
method_BING/build/cmake_install.cmake
method_BING/build/CMakeCache.txt
method_BING/build/Makefile
method_BING/build/PaintingCropperBING
method_BING/output/bing_crops

method_DeepLearning/output/frcnn_crops