.vscode
.venv
venv

data/paintings
data/crops
data/poster/
data/combined_data.csv

method_BING/build/CMakeFiles
method_BING/build/cmake_install.cmake
method_BING/build/CMakeCache.txt
method_BING/build/Makefile
method_BING/build/PaintingCropperBING
method_BING/output/bing_crops

method_DeepLearning/output/frcnn_crops
method_DeepLearning/output/frcnn_crops2
method_DeepLearning/output/log.txt

main/output/crops/
main/temp_processing/*
main/output_crops/
main/orchestrator

CMakeCache.txt
BingCropperSingle
Makefile
CMakeFiles/
cmake_install.cmake

go.mod
old.go

_poster/